/* Animations */

a.btn,
.btn,
.btn:focus, 
input[type="submit"],
.btn:hover, input[type="submit"]:hover,
.woocommerce #content input.button, 
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button, 
.woocommerce-page #content input.button, 
.woocommerce-page #respond input#submit, 
.woocommerce-page a.button, 
.woocommerce-page button.button, 
.woocommerce-page input.button,
.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart,
.wpb_button,
.show-more-button,
.woocommerce .shop-product .summary .quantity .plus,
.woocommerce .shop-product .summary .quantity .minus,
.woocommerce div.product .woocommerce-tabs ul.tabs li, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs li, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
.post-social a,
.header-menu-bg,
.jckqvBtn,
.blog-post .more-link,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus,
.shopping-cart .shopping-cart-icon,
.shopping-cart .view-cart,
.flatmarket-button a,
.products-module .bx-wrapper .bx-controls-direction a,
.woocommerce .shop-product .summary .yith-wcwl-wishlistexistsbrowse a,
.woocommerce .shop-product .summary .yith-wcwl-wishlistaddedbrowse a,
.woocommerce .shop-product .summary .anim_add_to_cart_button,
.woocommerce .shop-product .summary .yith-wcwl-add-button a,
#jckqv_summary .simple.single_add_to_cart_button,
.woocommerce .shop-product .summary .yith-wcwl-wishlistexistsbrowse a,
.woocommerce .shop-product .summary .yith-wcwl-wishlistaddedbrowse a,
.widget_product_categories a,
.navbar .nav > li a,
.woocommerce .widget_layered_nav ul li,
.woocommerce-page .widget_layered_nav ul li,
.content-block .widget_meta ul li,
.woocommerce-page .widget_meta ul li,
.content-block .widget_archive ul li,
.woocommerce-page .widget_archive ul li,
.woocommerce-page .widget_categories ul li,
.content-block .widget_categories ul li,
.content-block .widget_pages ul li,
.woocommerce-page .widget_pages ul li,
.widget_pages ul li a,
.widget_meta ul li a,
.widget_nav_menu a,
.navigation-paging a,
.woocommerce .product-item-box .product-buttons .compare-button a,
.woocommerce .product-item-box .product-buttons .yith-wcwl-wishlistexistsbrowse a,
.woocommerce .product-item-box .product-buttons .yith-wcwl-wishlistaddedbrowse a,
.woocommerce .shop-product .summary .yith-wcwl-wishlistexistsbrowse a,
.woocommerce .shop-product .summary .yith-wcwl-wishlistaddedbrowse a,
.woocommerce .product-item-box .product-buttons .yith-wcwl-add-button a,
.woocommerce .shop-product .summary .yith-wcwl-add-button a,
.footer-social a,
.widget_tag_cloud .tagcloud a,
.widget_product_tag_cloud .tagcloud a,
#top-link,
#jckqv .button,
#mega_main_menu.primary > .menu_holder > .menu_inner > ul > li .mega_dropdown .item_link:hover, 
#mega_main_menu.primary > .menu_holder > .menu_inner > ul > li .mega_dropdown .item_link:focus, 
#mega_main_menu.primary ul li.default_dropdown .mega_dropdown > li:hover > .item_link, 
#mega_main_menu.primary ul li.default_dropdown .mega_dropdown > li.current-menu-item > .item_link, 
#mega_main_menu.primary ul li.multicolumn_dropdown .mega_dropdown > li > .item_link:hover, 
#mega_main_menu.primary ul li.multicolumn_dropdown .mega_dropdown > li.current-menu-item > .item_link, 
#mega_main_menu.primary ul li.post_type_dropdown .mega_dropdown > li:hover > .item_link, 
#mega_main_menu.primary ul li.post_type_dropdown .mega_dropdown > li > .item_link:hover, 
#mega_main_menu.primary ul li.post_type_dropdown .mega_dropdown > li.current-menu-item > .item_link, 
#mega_main_menu.primary ul li.grid_dropdown .mega_dropdown > li:hover > .processed_image, 
#mega_main_menu.primary ul li.grid_dropdown .mega_dropdown > li:hover > .item_link, 
#mega_main_menu.primary ul li.grid_dropdown .mega_dropdown > li > .item_link:hover, 
#mega_main_menu.primary ul li.grid_dropdown .mega_dropdown > li.current-menu-item > .item_link, 
#mega_main_menu.primary ul li.post_type_dropdown .mega_dropdown > li > .processed_image:hover,
#mega_main_menu.primary > .menu_holder > .menu_inner > ul > li:not(.nav_search_box):hover {
    -webkit-transition: color 0.6s ease, background 0.6s ease;
    transition: color 0.6s ease, background 0.6s ease;
}
.woocommerce .product-item-box .jckqvBtn,
.fade-image img,
.products-module .bx-wrapper .bx-controls-direction a {
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.woocommerce .shop-product .summary .cart button,
.woocommerce .shop-product .summary .yith-wcwl-add-to-wishlist a,
.woocommerce .shop-product .summary .compare.button,
#top-link
{
    -webkit-transition: background 0.6s ease, -webkit-transform 0.2s ease;
    transition: background 0.6s ease, transform 0.2s ease;
}
@media (min-width: 768px) {
	.nav .sub-menu,
	.nav .children {
	    display: block;
	    margin: 0;
	    opacity: 0;
	    margin-top: 15px;
	    transition: margin .3s,opacity .3s,right .3s, transform .3s;
	    -webkit-transition: margin .3s,opacity .3s,right .3s;
	    transform: matrix(0, 0, 0, 0, 0, 0);
	    -ms-transform: matrix(0, 0, 0, 0, 0, 0);
	    -webkit-transform: matrix(0, 0, 0, 0, 0, 0);
	}
	.nav li:hover > .sub-menu,
	.nav li:hover > .children {
	    display: block;
	    opacity: 1;
	    margin-top: 0;
	    transform: matrix(1, 0, 0, 1, 0, 0);
	    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
	    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	}
	.nav .sub-menu li .sub-menu, 
	.nav .children li .children {
		right: -90%;
		margin-top: -36px;
	}
	.nav .sub-menu li:hover .sub-menu, 
	.nav .children li:hover .children {
		right: -100%;
	}
}
.shopping-cart .shopping-cart-content {
	display: block;
    opacity: 0;
    margin-top: 60px;
    transition: margin .3s,opacity .3s,right .3s, transform .3s;
    -webkit-transition: margin .3s,opacity .3s,right .3s;
    transform: matrix(0, 0, 0, 0, 0, 0);
    -ms-transform: matrix(0, 0, 0, 0, 0, 0);
    -webkit-transform: matrix(0, 0, 0, 0, 0, 0);
}
.shopping-cart:hover .shopping-cart-content {
	display: block;
    opacity: 1;
    margin-top: 40px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
}
.woocommerce .product-item-box .product-buttons {
    transition: all 0.3s linear 0s;
}
.woocommerce .shop-product .summary .cart button:hover,
.woocommerce .shop-product .summary .yith-wcwl-add-to-wishlist a:hover,
.woocommerce .shop-product .summary .compare.button:hover,
#jckqv .button:hover {
    text-decoration: none;
} 
.fade-image img {
	opacity: 1;
}
.fade-image img:hover {
	opacity: 0.6;
}